<!-- ------------------------------------------------------------------------------------------------------------
     ------------------------------------- INICIO inicio .HTML --------------------------------------------------
     ------------------------------------------------------------------------------------------------------------ -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso</title> 
    <link rel="stylesheet" href="{% static 'assets/css/inicio.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/imagenes/logo1.png' %}">

</head>
<!--TITULO BODY-->
    <body class="login-page">

    <!--TITULO INICIO DE SESION-->

        <div class="container">
            <!-- Formulario Iniciar Sesion -->
            <div class="container-form sign-in-form">
                <form method="POST" action="{% url 'login' %}">
                     {% csrf_token %}
                    <h2>Iniciar Sesión</h2>
                    <span>Use su correo y contraseña</span>
                    <div class="container-input">
                        <img src="{% static 'assets/imagenes/correo.png' %}" class="icon">
                        <input type="email" name="correo" placeholder="Correo electrónico">
                    </div>
                    <div class="container-input">
                        <img src="{% static 'assets/imagenes/contra.png' %}" class="icon">
                        <input type="password" name="contrasena" placeholder="Contraseña">
                    </div>
                    <a href="#" class="link-contra">¿Olvidaste tu contraseña?</a>
                    <button type="submit" class="button">Iniciar Sesión</button>
                </form>
            </div>

    <!--TITULO REGISTRARSE -->

            <!-- Formulario Registrarse -->
            <div class="container-form sign-up-form">
                <form action="{% url 'registro' %}" id="formulario" method="POST">
                    {% csrf_token %}
                    <h2>Registrarse</h2>
                    <span>Use su correo electronico para registrarse</span>
                    <div class="container-input">
                        <img src="{% static 'assets/imagenes/perfil.png' %}" class="icon">
                        <input type="text" placeholder="Nombre" id="nombre" name="nombre" required>
                    </div>
                    <div class="container-input">
                        <img src="{% static 'assets/imagenes/perfil.png' %}" class="icon">
                        <input type="text" placeholder="Apellido" id="apellido" name="apellido" required>
                    </div>
                    <div class="container-input">
                        <img src="{% static 'assets/imagenes/correo.png' %}" class="icon">
                        <input type="email" placeholder="Correo electrónico" id="correo" name="correo" required>
                    </div>
                    <div class="container-input">
                        <img src="{% static 'assets/imagenes/contra.png' %}" class="icon">
                        <input type="password" placeholder="Contraseña" id="contrasena" name="contrasena" required>
                    </div>
                    <div class="container-input">
                        <img src="{% static 'assets/imagenes/contra.png' %}" class="icon">
                        <input type="password" placeholder="Confirmar contraseña" id="confirmar_contrasena" name="confirmar_contrasena" required>
                    </div>
                    
                    <button type="submit" class="button">Registrarse</button>
                </form>

                {% if messages %}
                    <div class="messages">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
                
            </div>

    <!--TITULO ANIMACION-->

            <!-- Contenedor animado -->
            <div class="container-atras"></div>
            <div class="container-welcome">
                <div class="welcome welcome-sign-up">
                    <h3>¡Bienvenido!</h3>
                    <p>Ingrese sus datos personales para usar todas las funciones del sitio</p>
                    <button type="button" class="button" id="btn-sign-up">Registrarse</button>
                </div>
                <div class="welcome welcome-sign-in">
                    <h3>Hola</h3>
                    <p>Registrse con sus datos personales para usar todas las funciones del sitio</p>
                    <button type="button" class="button" id="btn-sign-in">Iniciar Sesión</button>
                </div>
            </div>
        </div>
    <!--TITULO CONEXION JS-->

        <!--llamado al script js-->
        <script src="{% static 'assets/js/inicio.js' %}"></script>
</body>
</html>

<!-- ------------------------------------------------------------------------------------------------------------
     ------------------------------------- FIN inicio .HTML -----------------------------------------------------
     ------------------------------------------------------------------------------------------------------------ -->