@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background: #f4f6f8;
}

/* SIDEBAR */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #7c60ba;
    padding-top: 20px;
}

.sidebar .profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.sidebar .nav-link{
    color: #fff;
    padding: 10px 20px;
    display: block;
    transition: 0.3s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active{
    background-color: #9c7fdc;
    border-radius: 6px;
}

/* CONTENT */
    .content {
        margin-left: 220px;
        padding: 30px;
    }

    .card {
        box-shadow: 0 2px 6px rgb(194 136 254) !important;
        border-radius: 8px !important; /* opcional: esquinas redondeadas */
    }


/* LOGO */
    
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .logo {
        height: 80px;
        width: auto;
    }

    .titulo {
        font-size: 1.6rem;
        color: #4B2A7E;
        margin: 0;
    }


    /* Botón  violeta principal */
    .btn-subircsv {
        color: #fff !important;
        background-color: #5d2fb2 !important;
        border: 1px solid #5d2fb2 !important;
        transition: background-color 0.3s ease;
    }

    .btn-subircsv:hover {
        color: white !important;
        background-color: #a68eee !important;
        border-color: #a68eee !important;
    }


.card{
    border-radius: 12px;
}

#resultadoCarga{
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}