/* -------------------------------------------------------------------------------------------------------------
   ------------------------------------- INICIO inicio .CSS ----------------------------------------------------
   ------------------------------------------------------------------------------------------------------------- */ 
 
 /* debe estar en todos los apartados por si las dudas */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* TITULO BODY */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
    }
    body {
        margin: 0;
        background-color: #f4f6f8;
    }

/* CONTENEDOR PRINCIPAL INICIAR SESION */
    .login-page {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;   
        align-items: center;       
        background-color: #f4f6f8; 
    }

    .login-page * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
    }

    .login-page .container{
        width: 880px;
        height: 500px;
        display: flex;
        position: relative;
        align-items: center;
        background-color: #fdfdfd;
        border-radius: 15px;
        overflow: hidden; 
        box-shadow: 0 0 10px #9c7fdc;
    }

/* FORMULARIOS INICIAR SESION */
    .login-page .container-form{
        width: 100%;
        overflow: hidden;
    }

    .login-page .container-form form{
        height: 100%;
        display:  flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease-in;
    }

/* INPUTS INICIAR SESION */
    .login-page .container-form span{
        font-size: 14px;
        margin-bottom: 15px;
        color: #172041;
    }

    .login-page .container-input{
        width: 300px;
        height: 40px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 0 15px;
        background-color: #eee0f8;
    }

    .login-page .container-input input{
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        background-color: inherit;
    }

/* LINK DE CONTRASEÑA INICIAR SESION */
    .login-page .link-contra{
        color: #8357a4;
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 5px;
    }

/* BOTONES INICIAR SESION */
    .login-page .button{
        width: 170px;
        height: 45px;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        background-color: #eee0f8;
        color: #18233f;
    }

/* ICONOS INICIAR SESION */
    .login-page .icon { 
        width: 24px;
        height: 24px;
    }

/* TITULOS INICIAR SESION */
    .login-page h2{
        font-size: 30px;
        margin-bottom: 20px;
        color: #18233f;
    }

/* ANIMACION DE FORMULARIO INICIAR SESION */
    .login-page .sign-up{
        transform: translateX(-100%);
    }
    .login-page .container.toggle .sign-in{
        transform: translateX(100%);
    }
    .login-page .container.toggle .sign-up{
        transform: translateX(0);
    }

/* CONTENEDOR BIENVENIDA INICIAR SESION */
    .login-page .container-welcome{
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        transform: translateX(100%);
        background-color: #9c7fdc;
        transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
        overflow: hidden;
        border-radius: 50% 0 0 50%;
        background-blend-mode: color #f0deff;
    }

/* CONTENEDOR ATRAS INICIAR SESION */
    .login-page .container-atras{
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        right: 55%;
        align-items: center;
        transform: translateX(100%);
        background-color: #f0deff;
        transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
        overflow: hidden;
        border-radius: 50% 0 0 50%;
    }

/* ESTADOS DE TRANSICION LOGIN */
    .login-page .container.toggle .container-atras{
        transform: translateX(0);
        border-radius: 0 50% 50% 0;
        background-color: #f0deff; 
        left: 5%;
    }

    .login-page .container.toggle .container-welcome{
        transform: translateX(0);
        border-radius: 0 50% 50% 0;
        background-color: #9c7fdc; 
    }

/* BIENVENIDO INICIAR SESION */
    .login-page .container-welcome .welcome{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 50px;
        color: #18233f;
        transition: transform 0.5s ease-in-out;
    }

    .login-page .welcome-sign-in{
        transform: translateX(100%);
    }

    .login-page .container-welcome h3{
        font-size: 40px;
    }

    .login-page .container-welcome p{
        font-size: 17px;
        text-align: center;
    }

    .login-page .container-welcome .button{
        border: 2px solid #f0deff;
        background-color: transparent;
        color: white;
    }

/* TRANSICIONES BOTONES WELCOME LOGIN */
    .login-page .container.toggle .welcome-sign-in{
        transform: translateX(0);
    }

    .login-page .container.toggle .welcome-sign-up{
        transform: translateX(-100%);
    }


/* --- Medidor de fuerza de contraseña --- */
#password-strength {
    width: 50%;
    height: 8px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
}

#strength-bar {
    height: 100%;
    width: 0%;
    transition: width 0.3s ease-in-out;
    border-radius: 5px;
}

.strength-text {
    text-align: left;
    font-size: 0.85rem;
    margin-top: 3px;
    color: #444;
    font-weight: 500;
}

/* MENSAJES EMERGENTES */

    .mi-popup {
    width: 480px;
    padding: 35px;
    background: white;
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #333;
    }

    .mi-titulo {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #4b0082;
    }

    .mi-texto {
    font-size: 17px;
    margin-bottom: 25px;
    color: #444;
    }

    .mi-boton {
    background-color: #d1b0e9;
    color: white;
    font-weight: bold;
    border: none;
    padding: 14px 28px;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: none;
    transition: background-color 0.3s ease;
    }

    .mi-boton:hover {
    background-color: #9c7fdc;
    }

    .mi-icono {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px auto;
    width: 80px;
    height: 80px;
    }

    /* Colores del check */
    .swal2-success-line-tip,
    .swal2-success-line-long {
    background-color: #9c7fdc;
    }

    body.swal2-height-auto {
    height: unset;
    }

div.swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
  display: block;
  position: absolute;
  top: 0 !important; 
  width: 47px;
  height: 5px;
  border-radius: 2px;
  background-color: #ef4c4c;
}

div.swal2-icon.swal2-error .swal2-x-mark-line-left {
  transform: rotate(45deg);
  left: 7px;
}

div.swal2-icon.swal2-error .swal2-x-mark-line-right {
  transform: rotate(-45deg);
  right: 7px;
}




/* -------------------------------------------------------------------------------------------------------------
   -------------------------------------- FIN inicio .CSS ------------------------------------------------------
   ------------------------------------------------------------------------------------------------------------- */