/* -------------------------------------------------------------------------------------------------------------
   ------------------------------------- INICIO inicio_alumno .CSS ---------------------------------------------
   ------------------------------------------------------------------------------------------------------------- */   
    
/* fuente de letra */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* TITULO BODY */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
    }
    body {
        margin: 0;
        background-color: #f4f6f8;
    }


/* TITULO BARRA LATERAL  */
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 220px;
        height: 100%;
        background-color: #7c60ba;
        padding-top: 20px;
        overflow-y: auto;
    }
    .logo-sidebar {
        max-width: 90px;
        height: auto;
        margin: 0 auto;
        display: block;
    }


    .sidebar .profile img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .sidebar .profile h5 {
        color: white;
        margin: 0;
    }

    .sidebar .nav {
        margin-top: 20px;
    }

    .sidebar .nav-link {
        color: white;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: background 0.3s, color 0.3s;
    }

    .sidebar .nav-link:hover,
    .sidebar .nav-link.active {
        background-color: #9c7fdc;
        color: white;
        border-radius: 5px;
    }

    .sidebar .nav-link.active i {
        color: white;
    }

/* TITULO BIENVENIDA */
    .content {
        margin-left: 220px;
        padding: 30px;
    }

    .card {
        box-shadow: 0 2px 6px rgb(194 136 254);
        border-radius: 8px; /* opcional: esquinas redondeadas */
    }

    /* Spinner personalizado */
    .spinner-border {
        width: 4rem;   /* tamaño fijo */
        height: 4rem;  /* tamaño fijo */
        color: #5d2fb2; /* color violeta personalizado */
        display: block;
        margin: 0 auto; /* centra horizontalmente */
    }

/* LOGO */
    
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .logo {
        height: 80px;
        width: auto;
    }

    .titulo {
        font-size: 1.6rem;
        color: #4B2A7E;
        margin: 0;
    }

/* TITULO PDF */
    .btn-primary-custom {
        background-color: #5d2fb2 !important; /* violeta intenso */
        color: #fff !important;
        border: none;
        padding: 8px 16px;
        font-size: 15px;
        border-radius: 6px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        display: inline-block;
        text-align: center;
    }

    .btn-primary-custom:hover {
        background-color: #a68eee !important; /* violeta claro */
        transform: scale(1.03);
        cursor: pointer;
    }

    .btn-primary-custom:active {
        background-color: #a68eee !important; /* tono intermedio */
        transform: scale(0.98);
    }

    #procesarPdfBtn {
        background-color: #5d2fb2 !important; /* violeta intenso */
        color: #fff !important;
        border: none;
        padding: 8px 16px;
        font-size: 15px;
        border-radius: 6px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        display: inline-block;
        text-align: center;
    }

    #procesarPdfBtn:hover {
        background-color: #a68eee !important; /* violeta claro */
        transform: scale(1.03);
        cursor: pointer;
    }

    /* clase para botones morado claro */
    .btn-color1 {
        color: #ffffff !important;
        border: 1px solid #5d2fb2 !important;
        background-color: #5d2fb2 !important;
    }

    .btn-color1:hover {
        background-color: #a68eee !important;
        border-color: #a68eee !important;
        color: #ffffff !important;
    }

    /* clase para botones morado oscuro */
    .btn-color2 {
        color: #ffffff !important;
        background-color: #5d2fb2 !important;
        border: 1px solid #5d2fb2 !important;
    }

    .btn-color2:hover {
        background-color: #a68eee !important;
        border-color: #a68eee !important;
        color: #ffffff !important;
    }

    /* cabeceras de informe y asignaturas */
    .color-cabecera{
        background-color: #e9ddfd !important;
    }

    .cabecera-asignaturas{
        background-color: #e9ddfd !important;
    }


    .nav-tabs .nav-link {
        color: #555;
        font-weight: 500;
        transition: background-color 0.3s, color 0.3s;
    }

    .nav-tabs .nav-link.active {
        background-color: #4b49ac;
        color: white !important;
    }

    .fade-in {
        animation: fadeIn 0.5s ease-in-out;
    }

    .ia-tabs {
        border-bottom: 2px solid #ddd;
    }

    .ia-tab-link {
        border: none;
        background: none;
        color: #555;
        font-weight: 500;
        padding: 10px 18px;
        transition: all 0.3s ease;
    }

    .ia-tab-link:hover {
        color: #4b49ac;
        background-color: #f3f2fd;
        border-radius: 10px;
    }

    .ia-tab-link.active {
        background-color: #4b49ac !important;
        color: white !important;
        border-radius: 10px 10px 0 0;
    }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* TITULO DISEÑO RESPONSIVE PARA MOVILES */
    @media (max-width: 768px) {
    .content {
        margin-left: 0;
        padding: 20px;
    }

    .graphs-container {
        grid-template-columns: 1fr;
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }
    }



/* -------------------------------------------------------------------------------------------------------------
   -------------------------------------- FIN inicio_alumno .CSS -----------------------------------------------
   ------------------------------------------------------------------------------------------------------------- */