/* -------------------------------------------------------------------------------------------------------------
   ------------------------------------- INICIO perfil_docente .CSS --------------------------------------------
   ------------------------------------------------------------------------------------------------------------- */   
    
/* fuente de letra */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* TITULO BODY */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
    }
    body {
        margin: 0;
        background-color: #f4f6f8;
    }


/* TITULO BARRA LATERAL  */
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 220px;
        height: 100%;
        background-color: #7c60ba;
        padding-top: 20px;
        overflow-y: auto;
    }

    .sidebar .profile img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .sidebar .profile h5 {
        color: white;
        margin: 0;
    }

    .sidebar .nav {
        margin-top: 20px;
    }

    .sidebar .nav-link {
        color: white;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: background 0.3s, color 0.3s;
    }

    .sidebar .nav-link:hover,
    .sidebar .nav-link.active {
        background-color: #9c7fdc;
        color: white;
        border-radius: 5px;
    }

    .sidebar .nav-link.active i {
        color: white;
    }

/* TITULO BIENVENIDA */
    .content {
        margin-left: 220px;
        padding: 50px;
    }

    .topbar {
        margin-bottom: 20px;
        color: #18233f;
    }   

/* TITULO FOTO DE PERFIL */
    .btn-primary-custom {
        background-color: #5d2fb2 !important;
        color: #fff !important;
        border: none;
        padding: 8px 16px;
        font-size: 15px;
        border-radius: 6px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        display: inline-block;
        text-align: center;
    }

    .btn-primary-custom:hover {
        background-color: #a68eee !important;
        transform: scale(1.03);
        cursor: pointer;
    }

    
    .btn-primary-custom:active {
        background-color: #a68eee !important;
        transform: scale(0.98);
    }

    .profile-change-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #7c60ba;
        display: block;
        margin: 0 auto 10px auto;
    }


/* TITULO POPUP */
    #confirmationPopup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #7c60ba;
        color: white;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        display: none;
        z-index: 9999;
        font-size: 16px;
        text-align: center;
        animation: fadeOut 3s forwards;
    }

    /* Animación para ocultar el popup */
    @keyframes fadeOut {
        0% { opacity: 1; }
        80% { opacity: 1; }
        100% { opacity: 0; display: none; }
    }

/* TITULO INFORMACION PERSONAL */


/* TITULO DISEÑO RESPONSIVE PARA MOVILES */
    @media (max-width: 768px) {
    .content {
        margin-left: 0;
        padding: 20px;
    }

    .graphs-container {
        grid-template-columns: 1fr;
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }
    }    

/* -------------------------------------------------------------------------------------------------------------
   ------------------------------------- FIN perfil_docente .CSS -----------------------------------------------
   ------------------------------------------------------------------------------------------------------------- */       